:root {
  --color-primary: #8f94ce;
  --color-secondary: #478be2;
  --color-success: #32bd55;
  --color-danger: #cf4d3b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    120deg,
    var(--color-primary),
    var(--color-secondary)
  );
  color: #000;
  font-family: "Roboto", sans-serif;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

header {
  margin: 2rem auto;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

form {
  margin: auto;
  width: 40%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.6rem 0.8rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

label {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

button {
  padding: 0.6rem 0.8rem;
  font-weight: bold;
  font-size: 1.4rem;
  background: linear-gradient(120deg, #242ea0, #478be2);
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
}

.form-popup {
  padding: 1rem;
}

.hidden {
  display: none;
}

.trash-btn,
.edit-btn {
  background: var(--color-danger);
  border: none;
  border-radius: 50%;
  padding: 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.edit-btn {
  background: var(--color-success);
  margin-left: 0.5rem;
}


.fa-trash, .fa-edit {
  pointer-events: none;
}

.book {
  transition: all .3s ease ;
}

.fall {
  transform: translateY(8rem) rotateZ(25deg);
  opacity: 0;
}

.actions {
  width: 130px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}

.switch {
  position: relative;
  display: inline-block;
  align-self: start;
  margin-bottom: 1rem;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #89c12d;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}
